* {
    box-sizing: border-box;
    font-family: 'Rubik Iso', system-ui;
    padding: 0;
    margin: 0;
}

:root {
    --main-oragange: #ff9a00;
    --dark-orange: #ff5d00;
    --main-blue: #0065ff;
    --light-blue: #00a2ff;
    --main-black: #000000b2;
    --dark-black: #000000e7;
}


body {
    background-color: var(--light-blue);
    /* display: ; */
}

/* header section */

header {
    background-color: var(--light-orange);
    text-align: center;
    border-bottom: 5px solid var(--main-blue);
    padding: 2%;
    margin-bottom: 5px;
    background-color: var(--dark-black);
}

h1 {
    text-transform: uppercase;
    font-size: 4em;
    color: var(--dark-orange);
    font-weight: bold;
    letter-spacing: 1cap;
    text-orientation: upright;
    justify-self: center;
    align-self: center;
    writing-mode: vertical-lr;
    text-shadow: var(--main-oragange) 1px 0 20px;
}


/* main */
main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 3fr 2fr;
}

#lh1,
#rh1 {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--dark-black);
}

#lh1 {
    grid-column: 1;
    grid-row: 1 / span 3;
}

#rh1 {
    grid-column: 3;
    grid-row: 1 / span 3;
}


/* container*/

#container {
    /* grid-row-start: 1; */
    grid-column: 2;
    background-color: var(--dark-black);
    display: grid;
    padding: 2% 2%;
    grid-template-columns: 3fr 1fr 3fr;
    justify-content: space-around;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    justify-items: center;
    color: var(--dark-orange);
    letter-spacing: 0.5cap;
    margin-bottom: 5px;
    border-bottom: 5px solid var(--main-blue);
}

#container h4 {
    padding: 4% 0;
}

section h3 {
    margin-bottom: 2%;
}

input[type=radio] {
    accent-color: var(--dark-orange);
}


#board_pst,
#board_atk {
    background-color: var(--blue);
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    flex-wrap: wrap;
}

#board_pst div,
#board_atk div {
    width: 100%;
    border: 1px solid var(--light-blue);
}

.ship {
    background-color: white;

}

.all_board {
    display: flex;
}

.pst_ind_right,
.atk_ind_right {
    display: flex;
    text-align: center;
    padding: 1%;
}

.pst_ind_right div,
.atk_ind_right div {
    width: 100%;
}

.pst_ind_left,
.atk_ind_left {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-right: 5px;
    align-content: center;
    padding: 1%;

}

.pst_ind_left div,
.atk_ind_left div {
    width: 100%;
    height: 100%;
}

.square {
    border: 1px solid rebeccapurple;
    width: 12.5%;
    height: 12.5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 2s;
}

.hit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    margin: 0;
    image-resolution: 10px 10px;
}

.nav_hit {
    background-color: rgba(255, 0, 0, 0.39);
}

div.dragShip {
    border: 5px solid red;
}

img {
    width: 40px;
    height: 40px;
}

#display_turn {
    width: 100px;
    height: 100px;
    font-weight: bold;
}

.selected {
    display: none;
}

#target_opt {
    text-align: center;
    justify-items: center;
}


#game {
    height: 80px;
}

#btn_select_opt {
    padding-bottom: 10px;
}

div.dispo {
    background-color: var(--light-blue);
}

/* panel btns container */
#buttons_play {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: var(--dark-black);
    color: var(--dark-orange);
    justify-items: center;
    align-items: start;
    padding: 4% 0;
}

#mode_select {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2% 1%;
}

#mode {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
    gap: 1px;
}

#mode div {
    padding: 2px 0;
}

/* container selec oponent */
#game {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
    width: 100%;
}

#btn_selct_opt {
    grid-row-start: 1;
    grid-row-end: 2;
}

#nameRoom {
    grid-row-start: 2;
    padding-top: 5px;
}

#nameRoom_inp {
    /* background-color: #0065ff; */
    border: solid 1px var(--light-blue);
}

#set_buttons {
    text-align: center;
}

#btn_select_opt h2,
#set_buttons h2,
#mode h2 {
    padding-bottom: 4%;
}

input[type=radio] {
    accent-color: var(--main-oragange);
}

input[type=text] {
    font-family: 'Luckiest Guy', cursive;
    border: none;
    padding: 2px;
}

button {
    background-color: var(--dark-orange);
    font-family: 'Luckiest Guy', cursive;
    font-size: medium;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--main-oragange);
    margin: 2px;
}

button:valid:hover {
    background-color: var(--main-blue);
    color: var(--dark-orange);
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#state {
    grid-column: 1 / -1;
    width: 100%;
    font-size: large;
    height: 30px;
    text-align: center;
    padding: 2px;
    background-color: var(--light-blue);

    color: var(--main-oragange);
    font-family: 'Luckiest Guy', cursive;
    border-bottom: 5px solid var(--main-blue);
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--dark-black);
    text-align: center;
    color: var(--main-oragange);
}

footer h4 {
    font-family: 'Luckiest Guy', cursive;
    padding-top: 10px;
    letter-spacing: 0.2em;
}